<!DOCTYPE html>
{% load bootstrap3 %}
<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block bootstrap3_title %}django-bootstrap3 template title{% endblock %}</title>
    {% bootstrap_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    {% block bootstrap3_extra_head %}{% endblock %}
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/web-fonts-with-css/css/fontawesome-all.css' %}">
        <link rel="stylesheet" href="{% static 'media/image' %}">
</head>

    <body>
        <header id="header" class="navbar navbar-expand-lg fixed-top navbar-light bg-light row">
            <div class="col-4">
                    <nav class="navbar navbar-light ">
                        <a class="navbar-brand" href=" http://127.0.0.1:8000">
                            <img src="{% static 'media/image/Gerb_MGTU_imeni_Baumana.png' %}" width="45" height="45" class="d-inline-block align-content-center" alt="">
                            Научный репозиторий</a>
                    </nav>
            </div>
            <div class="col-5">
                <a href="{% url 'users_url' %}" class="users">Пользователи</a>
            </div>
            <div class="col-3">
                {% if authorized %}
                   <div class="user_block">
                        <div class="user_name"></div>
                        <div class="user_menu">
                            <a href="{% url 'login_url' %}" class="login">Войти</a>/
                            <a href="{% url 'signup_url' %}" class="register">Регистрация</a>
                        </div>
                    </div>
                {% else %}
                    <img id="nav-avatar" height="40" width="40" class="float-left" src={% static 'media/image/no_avatar.png'%}>
                    <a href="{% url 'page_url' %}" class="user-name">Бирюкова Дарья</a>
                    <div class="user_menu">
                        <a href="{% url 'page_url' %}" class="settings">Настройки</a>&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'login_url' %}" class="logout">Выход</a>
                    </div>
                {% endif %}
            </div>
        </header>
       {% block content %}
       {% endblock %}
        <nav id="down" class="navbar navbar-default navbar-fixed-bottom navbar-inverse row" >
            <p class="navbar-text">МГТУ им. Н.Э. Баумана </p> <p class="navbar-text"><span class="glyphicon glyphicon-earphone"> 8(499)-267-54-34</span></p>
            <p class="navbar-text">2-я Бауманская ул., д. 5, 9 этаж (Главный Учебный Корпус)</p>
        </nav>
    </body>
</html>