{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-signin" role="form">
                <h1 id="enter" class="form-signin-heading">Вход</h1>
                <input type="email" class="form-control" placeholder="Логин" required="" autofocus="">
                <input type="password" class="form-control" placeholder="Пароль" required="">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Запомнить меня</label>
                <button id="btn-enter" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
