{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
             <h1 id="reg"  class="form-signin-heading">Регистрация</h1>
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-3" for="lastName">Фамилия:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="lastName" placeholder="Введите фамилию">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="firstName">Имя:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="firstName" placeholder="Введите имя">
        </div>
    </div>
  <div class="form-group">
      <label class="control-label col-xs-3" for="fatherName">Отчество:</label>
      <div class="col-xs-9">
          <input type="text" class="form-control" id="fatherName" placeholder="Введите отчество">
      </div>
  </div>
   <div class="form-group">
      <label class="control-label col-xs-3" for="inputEmail">Email:</label>
      <div class="col-xs-9">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3" for="inputPassword">Пароль:</label>
    <div class="col-xs-9">
      <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-xs-3" for="confirmPassword">Подтвердите пароль:</label>
    <div class="col-xs-9">
      <input type="password" class="form-control" id="confirmPassword" placeholder="Введите пароль ещё раз">
    </div>
  </div>

  <div class="form-group">
      <label class="control-label col-xs-3">Пол:</label>
      <div class="col-xs-2">
          <label class="radio-inline">
              <input type="radio" name="genderRadios" value="male"> Мужской</label>
      </div>
      <div class="col-xs-2">
          <label class="radio-inline">
              <input type="radio" name="genderRadios" value="female"> Женский</label>
      </div>
  </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input id="btn-reg" type="submit" class="btn btn-primary btn-lg" value="Регистрация">
            <input id="btn-clean" type="reset" class="btn btn-default btn-lg" value="Очистить форму">
        </div>
    </div>
</form>
        </div>
    </div>
    </div>
{% endblock %}
