{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-10 ">
            <div id="search" class="input-group input-group-lg">
                <input id="text-search" type="text" class="form-control" placeholder="Введите запрос">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Найти</button>
                </span>
            </div>
        </div>
    </div>
    </div>
    <div class="container">
    <div id="ex" class="row">
        <div class="col-md-6">
            <h2>Список пользователей</h2>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
            <p><a href="#">Бирюкова Дарья Константиновна</a></p>
        </div>
         <div class="col-md-6">
            <h2>Группы пользователей</h2>
            <p><a href="#">Редакторы</a></p>
            <p><a href="#">Научные руководители</a></p>
            <p><a href="#">Читатели</a></p>
         </div>
    </div>
    </div>
{% endblock %}