{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="container">
    <div class="row">
        <div class="col-md-10 ">
            <form action="{% url 'social:users_list' %}" method="get">
            <div id="search" class="input-group input-group-lg">
                <input id="text-search" type="text" class="form-control" name="q" placeholder="Введите запрос">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Найти</button>
                </span>
            </div>
            </form>
        </div>
    </div>
    </div>
    <div class="container">
    <div id="ex" class="row">
        <div class="col-3">
           <h2>Группы пользователей</h2>
           <p><a href="{% url 'social:users_list' %}"{% if not request.GET.group_id %} style="text-decoration: underline">{% endif %}>Все пользователи</a></p>
           {% for group in groups %}
           <p><a href="{% url 'social:users_list' %}?group_id={{ group.id }}"{% if request.GET.group_id == group.id|slugify %} style="text-decoration: underline">{% endif %}>{{ group }}</a></p>
           {% endfor %}
        </div>
        <div class="col-3">
        <h2><b>Список пользователей</b></h2>
        {% if not object_list %}
            <br>
            По вашим критериям нет ни одного пользователя
        {% endif %}
        {% for user in object_list %}
        <p><a href="{% url 'social:user' user.id %}">{{ user }}</a></p>
        {% endfor %}
        </div>
        {% if request.GET.group_id %}
        <div class="col-4">
            <h2>Права группы пользователей</h2>
            <ul>
            {% if group.name == 'Администраторы' %}
                <li>Все права</li>
            {% elif group.name == 'Редакторы' %}
                <li>Выдача прав на каталоги</li>
                <li>Создание каталогов</li>
            {% elif group.name == 'Научные работники' %}
                <li>Редактирование своих каталогов</li>
                <li>Создание каталогов</li>
            {% elif group.name == 'Читатели' %}
                <li>Только чтение</li>
            {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}