body {
    padding-left: 15px;
    padding-top: 100px;
    font-size: 15px;
}

#header {
    background: #fffadb;
}

.navbar-brand{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 1px;
}

#search {
    margin-top: 30px;
    margin-left: 50px;
}

#text-search{
    font-size: 2rem;
}

#text-rep{
    margin-left: 50px;
    margin-top: 30px;
}

h1{
    font-size: 25px;
}

#ex{
    margin-left: 36px;
    margin-top: 20px;
}

#sec{
    margin-top: 50px;
}

#pop{
    margin-top: 18px;
    margin-left: -2px;
}

.brd {
    border: 3px inset #d5d5d6; /* Параметры границы */
    padding: 10px; /* Поля вокруг текста */
   }
 #down{
     margin-top: 40px;
 }

.navbar{
    padding: 0px 15px;
}

.form-signin{
    margin-top: 70px;
    margin-bottom: 130px;

}

.form-control{
    font-size: 13px;
    height: 45px;
}

#enter{
    margin-bottom: 20px;
    margin-left: 40%;
}

.checkbox{
    margin-top: 20px;
    margin-left:20px;
}
 #btn-enter{
     margin-top:20px;
     font-size: 14px;
 }

 #reg{
     margin-bottom: 20px;
     margin-left: 50%;
 }

#btn-reg{
    font-size: 16px;
}

#btn-clean{
    font-size: 16px;
}

#mar-down{
    margin-top: 10%;
    margin-bottom: 18%;
}
#btn_acces{
    margin-left: 16px;
    font-size: 12px;
}